@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  font-family: 'Exo 2', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#refresh {
  margin-left: 35%;
  margin-bottom: 15px;
}

button {
  border: #5400c7 1px solid;
  box-shadow: 3px 3px #7f62a8;
  color: #5400c7;
  font-weight: bold;
  height: min-content;
  padding: 2px;
  width: 90px;
}

h1,
h2,
input {
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  color: black;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

h1::-moz-selection {
  background-color: #08f;
  color: #f40;
}

h1::selection {
  background-color: #08f;
  color: #f40;
}

h1:focus {
  outline: none;
}

h2 {
  color: white;
  font-size: 18px;
  text-shadow:
    0 0 7px #a01276,
    0 0 10px #a01276,
    0 0 21px #a01276,
    0 0 42px white,
    0 0 82px white,
    0 0 92px white,
    0 0 102px white,
    0 0 151px white;
  margin-left: 43%;
  margin-bottom: -30px;
}

h3 {
  color: white;
  font-size: 18px;
  text-shadow:
    0 0 7px #a01276,
    0 0 10px #a01276,
    0 0 21px #a01276,
    0 0 42px white,
    0 0 82px white,
    0 0 92px white,
    0 0 102px white,
    0 0 151px white;
  margin-left: 5%;
  margin-bottom: 10px;
}

input {
  background-color: lightgrey;
  border: lightgrey 2px solid;
  border-radius: 4px;
  color: #5400c7;
  font-size: medium;
  margin: 10px 0;
}

section {
  align-items: flex-start;
}

ul {
  background-color: #00a0c7;
  border: white 2px solid;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  min-height: 25px;
  padding: 8px;
  width: 60%;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
  list-style-type: none;
  border-radius: 4px;
  padding: 4px;
}

li:nth-child(even) {
  background-color: lightgrey;
  color: #5400c7;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-content {
  background-color: #00a0c7;
  border: white 2px solid;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.justify-end {
  align-self: flex-end;
}
