* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-left: -255px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 6%;
  text-align: center;
  text-decoration: underline;
}

h2 {
  margin-left: 75%;
  margin-top: -170px;
  margin-bottom: 10px;
}

.score {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.score p {
  margin-left: 42%;
  margin-top: 30px;
}

button {
  width: 90px;
  height: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin: auto;
  margin-top: 50px;
}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
  border: 1px solid #ddd;
}

input {
  margin-left: 75%;
  height: 30px;
  padding: 10px;
}

.submit {
  margin-left: 80%;
  margin-top: 20px;
}
